set -e

# Enables the project's version of node (relies on .nvmrc)
if . ~/.nvm/nvm.sh; then
  local version=$(< .nvmrc)
  local nvmrc_node_version=$(nvm version "$version")
  if [ "$nvmrc_node_version" = "N/A" ]; then
    echo "Installing missing node version"
    local install_output=$(nvm install "$version")
  fi
  nvm use
fi
