{
  "semi": false,
  "overrides": [
    {
      "files": ["**/**/**/__fixtures__/**.js", "**/**/__fixtures__/**.js"],
      "options": {
        "singleQuote": false,
        "semi": false
      }
    }
  ]
}